@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.button {
  @extend .h3;
  width: 100%;
  height: 2rem;
  color: $white;
  background-color: $inject-black;
  border: 2px solid $inject-indigo;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2.5rem;
  white-space: nowrap;
  cursor: pointer;
  @include tablet {
    width: auto;
  }

  &:hover {
    background-color: $graphite;
  }
}
