@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.dashboard {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5.5rem;
  @include tablet {
    flex-flow: row nowrap;
  }

  &__main {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    border: grey 1px solid;
    margin: 4rem;
    border-radius: 10px;
    
    @include tablet {
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
    }
    @include desktop {
       display: block;
       text-align: center;
      }
  }
  &__heading {
    background-color: #000000;
  }
}
.viewbtn {
}
.closebtn {
  padding: 0 2rem;
  margin-left: auto;
  &:hover {
    border: 1px solid $inject-indigo;
  }
}

//   .main {
//     transition: margin-left .5s;
//     padding: 16px;
//     border: red 5px solid;
//   }
