// primary colors

$inject-black: #000000;
$inject-indigo: #E419E7;
$inject-graphite: #6b6b6b;
$inject-tint:#F7F7F7;
$white: #ffffff;

// secondary colors
$inject-black-op: rgba(0, 0, 0, 0.7);
$slate: #5c667e;
$cloud: #bdc5d5;

// background colors

$graphite: #000000;
$light-grey: #98e8cd;

// supporting colors

$green: #158463;
$red: #c94515;
