// primary colors

$inject-black: #000000;
$inject-indigo: #E419E7;
$inject-graphite: #151515;
$white: #ffffff;

// secondary colors

$slate: #5c667e;
$cloud: #bdc5d5;

// background colors

$graphite: #000000;
$light-grey: #98e8cd;

// supporting colors

$green: #158463;
$red: #c94515;
