// primary colors

$inject-black: #020912;
$inject-indigo: #98e8cd;
$white: #ffffff;

// secondary colors

$slate: #5c667e;
$cloud: #bdc5d5;

// background colors

$graphite: #020912;
$light-grey: #98e8cd;

// supporting colors

$green: #158463;
$red: #c94515;
