@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.post {
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;

  &__btns{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include tablet {
      flex-flow: row nowrap;
      margin: 0;
    }
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  

  &__heading {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
}
