@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;



.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  

  &__heading {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
}
