@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.dashboard {
  &__main {
    &-jobs {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include tablet {
        flex-flow: row wrap;
      }
    }
    &-card {
      background-color: $inject-black;
      opacity: 0.8;
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      font-size: 0.9rem;
      box-sizing: border-box;
      margin: 1rem 0;
      text-align: left;

      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 28%;
      }
    }
    &-heading {
      border-bottom: 1px solid grey;
      padding: 10px 0 0;
      margin: 0;
      color: $inject-indigo;
      
    }
    &-text {
      font-size: 0.95rem;
      font-weight: 100;
      // border: red solid 5px;
      padding: 0;
      margin: 0;
    }
    &-link {
      color: rgb(73, 73, 250);
      &:hover,
      &:active {
        color: rgb(8, 8, 236);
      }
    }
  }
}

.apply-btn {
  margin: 0.2rem;
  border: $inject-graphite solid 2px;
  &:hover {
    border: $inject-indigo solid 2px;
  }
}
